Repository hansjm10/jeeves: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

feat(core): port paths + issue state model
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/issueState.test.ts
  packages/core/src/issueState.ts
  packages/core/src/paths.test.ts
  packages/core/src/paths.ts
  packages/core/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint, typecheck

test: avoid dist vitest runs; add core negative cases
  packages/core/src/issueState.test.ts
  packages/core/src/paths.test.ts
  vitest.config.ts
Due: lint, typecheck

feat(core): workflow engine + prompt resolution
  packages/core/package.json
  packages/core/src/guards.test.ts
  packages/core/src/guards.ts
  packages/core/src/index.ts
  packages/core/src/promptResolution.test.ts
  packages/core/src/promptResolution.ts
  packages/core/src/workflow.ts
  packages/core/src/workflowEngine.test.ts
  packages/core/src/workflowEngine.ts
  packages/core/src/workflowLoader.test.ts
  packages/core/src/workflowLoader.ts
  pnpm-lock.yaml
Due: lint, typecheck

feat(runner): add TS runner + CLI (Fixes #40)
  package.json
  packages/core/src/guards.test.ts
  packages/core/src/index.ts
  packages/core/src/issueState.test.ts
  packages/core/src/issueState.ts
  packages/core/src/paths.test.ts
  packages/core/src/promptResolution.test.ts
  packages/core/src/promptResolution.ts
  packages/core/src/workflowEngine.test.ts
  packages/core/src/workflowEngine.ts
  packages/core/src/workflowLoader.test.ts
  packages/core/src/workflowLoader.ts
  packages/runner/package.json
  packages/runner/src/bin.ts
  packages/runner/src/cli.ts
  packages/runner/src/index.ts
  packages/runner/src/outputV1.ts
  packages/runner/src/outputWriter.ts
  packages/runner/src/progress.ts
  packages/runner/src/provider.ts
  packages/runner/src/providers/claudeAgentSdk.ts
  packages/runner/src/providers/fake.ts
  packages/runner/src/runner.integration.test.ts
  packages/runner/src/runner.ts
  packages/runner/tsconfig.json
  packages/shared/src/index.test.ts
  pnpm-lock.yaml
  prompts/fixtures/trivial.md
  tsconfig.base.json
  tsconfig.json
  workflows/fixture-trivial.yaml
Due: lint, typecheck

feat(runner): record tool calls from Claude SDK
  packages/runner/README.md
  packages/runner/src/outputWriter.test.ts
  packages/runner/src/outputWriter.ts
  packages/runner/src/provider.ts
  packages/runner/src/providers/claudeAgentSdk.ts
Due: lint, typecheck

Fix typecheck to build workspace
  package.json
Due: none

feat(viewer-server): run control + streaming (Fixes #41)
  apps/viewer-server/package.json
  apps/viewer-server/src/activeIssue.ts
  apps/viewer-server/src/bin.ts
  apps/viewer-server/src/eventHub.ts
  apps/viewer-server/src/git.ts
  apps/viewer-server/src/index.ts
  apps/viewer-server/src/init.ts
  apps/viewer-server/src/issueJson.ts
  apps/viewer-server/src/jsonAtomic.ts
  apps/viewer-server/src/repoRoot.ts
  apps/viewer-server/src/runManager.test.ts
  apps/viewer-server/src/runManager.ts
  apps/viewer-server/src/server.test.ts
  apps/viewer-server/src/server.ts
  apps/viewer-server/src/tailers.ts
  apps/viewer-server/src/types.ts
  apps/viewer-server/tsconfig.json
  lefthook.yml
  package.json
  packages/runner/src/cli.ts
  packages/runner/src/runner.integration.test.ts
  packages/runner/src/runner.ts
  pnpm-lock.yaml
  tsconfig.json
  vitest.config.ts
Due: lint, typecheck

fix(viewer-server): align runner dataDir and skip terminal phase
  apps/viewer-server/src/runManager.test.ts
  apps/viewer-server/src/runManager.ts
Due: none

feat(viewer-server): origin allowlist and API docs
  README.md
  apps/viewer-server/src/server.test.ts
  apps/viewer-server/src/server.ts
  docs/viewer-server-api.md
Due: none

feat(viewer-server): ws fixes, config, validation
  apps/viewer-server/package.json
  apps/viewer-server/src/eventHub.ts
  apps/viewer-server/src/server.test.ts
  apps/viewer-server/src/server.ts
  apps/viewer-server/src/tailers.ts
  docs/viewer-server-api.md
  pnpm-lock.yaml
Due: none

fix(viewer-server): reset streams on issue switch
  apps/viewer-server/src/server.test.ts
  apps/viewer-server/src/server.ts
  apps/viewer-server/src/tailers.test.ts
  apps/viewer-server/src/tailers.ts
  docs/viewer-server-api.md
Due: none

feat(viewer): React UI + prompts API\n\nFixes #42
  README.md
  apps/viewer-server/src/prompts.test.ts
  apps/viewer-server/src/server.ts
  apps/viewer-server/src/textAtomic.ts
  apps/viewer/index.html
  apps/viewer/package.json
  apps/viewer/src/App.tsx
  apps/viewer/src/main.tsx
  apps/viewer/src/styles.css
  apps/viewer/tsconfig.json
  apps/viewer/tsconfig.tsbuildinfo
  apps/viewer/vite.config.ts
  docs/viewer-server-api.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: typecheck

chore: ignore tsbuildinfo
  .gitignore
  apps/viewer/tsconfig.tsbuildinfo
Due: none

chore(viewer): run UI on 8080
  README.md
  apps/viewer/src/App.tsx
  apps/viewer/vite.config.ts
  package.json
Due: none

chore: add pnpm dev to run viewer + server
  README.md
  package.json
  pnpm-lock.yaml
Due: none

fix(dev): run viewer-server without build artifacts
  package.json
Due: none

fix(dev): support docker host/origin
  apps/viewer/vite.config.ts
  package.json
Due: none

fix(viewer): configurable proxy target for docker
  README.md
  apps/viewer/vite.config.ts
Due: none

refactor(viewer): split App into router, queries, stream
  apps/viewer/package.json
  apps/viewer/src/App.tsx
  apps/viewer/src/api/http.ts
  apps/viewer/src/api/paths.ts
  apps/viewer/src/api/types.ts
  apps/viewer/src/app/AppProviders.tsx
  apps/viewer/src/app/ViewerServerProvider.tsx
  apps/viewer/src/app/router.tsx
  apps/viewer/src/features/issues/queries.ts
  apps/viewer/src/features/mutations.ts
  apps/viewer/src/features/prompts/queries.ts
  apps/viewer/src/features/workflow/phaseGroups.test.ts
  apps/viewer/src/features/workflow/phaseGroups.ts
  apps/viewer/src/features/workflow/queries.ts
  apps/viewer/src/layout/AppShell.tsx
  apps/viewer/src/layout/Header.tsx
  apps/viewer/src/layout/Sidebar.tsx
  apps/viewer/src/pages/LogsPage.tsx
  apps/viewer/src/pages/PromptsPage.tsx
  apps/viewer/src/pages/SdkPage.tsx
  apps/viewer/src/pages/ViewerLogsPage.tsx
  apps/viewer/src/query/queryKeys.ts
  apps/viewer/src/stream/ViewerStreamProvider.tsx
  apps/viewer/src/stream/streamReducer.test.ts
  apps/viewer/src/stream/streamReducer.ts
  apps/viewer/src/stream/streamTypes.ts
  apps/viewer/src/ui/LogPanel.tsx
  apps/viewer/src/ui/toast/ToastProvider.tsx
  apps/viewer/src/ui/unsaved/UnsavedChangesProvider.tsx
  pnpm-lock.yaml
Due: none

Fix unsaved prompt changes guard
  apps/viewer/src/layout/AppShell.tsx
  apps/viewer/src/pages/PromptsPage.tsx
Due: none

fix(viewer): toast race + ws reconnect + prompt guard
  README.md
  apps/viewer/src/pages/PromptsPage.tsx
  apps/viewer/src/stream/ViewerStreamProvider.tsx
  apps/viewer/src/ui/toast/ToastProvider.tsx
Due: none

feat: add OpenAI Codex provider
  README.md
  apps/viewer-server/src/runManager.ts
  apps/viewer/src/features/mutations.ts
  apps/viewer/src/layout/Sidebar.tsx
  docs/viewer-server-api.md
  packages/runner/README.md
  packages/runner/package.json
  packages/runner/src/cli.ts
  packages/runner/src/index.ts
  packages/runner/src/providers/codexSdk.test.ts
  packages/runner/src/providers/codexSdk.ts
  pnpm-lock.yaml
Due: lint, typecheck

fix(runner): codex user message mapping
  packages/runner/src/providers/codexSdk.test.ts
  packages/runner/src/providers/codexSdk.ts
Due: lint, typecheck

feat(viewer): redesign SDK output with professional UX
  apps/viewer/src/app/router.tsx
  apps/viewer/src/layout/AppShell.tsx
  apps/viewer/src/pages/SdkPage.css
  apps/viewer/src/pages/SdkPage.tsx
Due: none

feat(viewer): SDK timeline + safe JSON rendering
  apps/viewer/src/api/types.ts
  apps/viewer/src/pages/SdkPage.css
  apps/viewer/src/pages/SdkPage.tsx
  apps/viewer/src/pages/sdk/JsonSyntax.tsx
  apps/viewer/src/pages/sdk/SdkTimeline.tsx
  apps/viewer/src/pages/sdk/ToolCard.tsx
  apps/viewer/src/pages/sdk/index.ts
  apps/viewer/src/pages/sdk/tools/BashTool.tsx
  apps/viewer/src/pages/sdk/tools/EditTool.tsx
  apps/viewer/src/pages/sdk/tools/GenericTool.tsx
  apps/viewer/src/pages/sdk/tools/GlobTool.tsx
  apps/viewer/src/pages/sdk/tools/GrepTool.tsx
  apps/viewer/src/pages/sdk/tools/ReadTool.tsx
  apps/viewer/src/pages/sdk/tools/TaskTool.tsx
  apps/viewer/src/pages/sdk/tools/WriteTool.tsx
  apps/viewer/src/pages/sdk/tools/index.ts
  apps/viewer/src/pages/sdk/useToolState.ts
Due: none

feat(task): add gh issue create helper (T1)
  apps/viewer-server/src/githubIssueCreate.ts
Due: none

fix(task): avoid leaking gh argv via error cause (T1)
  apps/viewer-server/src/githubIssueCreate.ts
Due: none

feat(viewer-server): inject create adapter (T2)
  apps/viewer-server/src/server.ts
  apps/viewer-server/src/types.ts
Due: none

feat(task): add create-only GitHub issue endpoint (T3)
  apps/viewer-server/src/server.ts
Due: none

feat(viewer-server): init+select after create (T4)
  apps/viewer-server/src/server.ts
Due: none

feat(viewer-server): support auto_run after init+select (T5)
  apps/viewer-server/src/server.ts
Due: none

test(viewer-server): add create endpoint tests (T6)
  apps/viewer-server/src/server.test.ts
Due: none

docs(viewer-server): document create issue endpoint (T7)
  docs/viewer-server-api.md
Due: none

feat(viewer): add create issue route (T8)
  apps/viewer/src/app/router.tsx
  apps/viewer/src/layout/AppShell.tsx
  apps/viewer/src/pages/CreateIssuePage.tsx
Due: none

feat(task): add create issue mutation hook (T9)
  apps/viewer/src/api/types.ts
  apps/viewer/src/features/mutations.ts
Due: none

feat(task): implement create issue form flow (T10)
  apps/viewer/src/pages/CreateIssuePage.tsx
Due: none

feat(task): add GFM preview to Create Issue (T11)
  apps/viewer/package.json
  apps/viewer/src/pages/CreateIssuePage.tsx
  pnpm-lock.yaml
Due: none

fix(task): propagate create endpoint gh status (T12)
  apps/viewer-server/src/server.test.ts
  apps/viewer-server/src/server.ts
Due: none

feat(viewer-server): support labels/assignees/milestone on issue create (T13)
  apps/viewer-server/src/githubIssueCreate.ts
  apps/viewer-server/src/server.test.ts
  apps/viewer-server/src/server.ts
Due: none

Path conditions:
  lint: any of: packages/**/*.{js,jsx,ts,tsx}, eslint.config.mjs
  typecheck: any of: packages/**/*.{ts,tsx}, packages/**/tsconfig*.json, tsconfig*.json, tsconfig.base.json
